body {
    font-family: "Source Code Pro", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faecdc;
    overflow: hidden;
}

.background-shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: rotateShapes 10s linear infinite, fadeIn 1s ease;
}

.shape {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: floatShape 5s ease-in-out infinite alternate;
    z-index: 1; /* Z-index değerini artırdık */
}

.circle {
    background-color: #FF6384; /* Kırmızı tonu */
    left: 20%;
    top: 30%;
}

.square {
    background-color: #36A2EB; /* Mavi tonu */
    transform: rotate(45deg);
    left: 50%;
    top: 50%;
    z-index: 2; /* Z-index değerini artırdık */
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17.32px solid #FFCE56; /* Sarı tonu */
    left: 80%;
    top: 70%;
    z-index: 3; /* Z-index değerini artırdık */
}

.container {
    position: relative;
    z-index: 1;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
    background-color: #FFFFFF; /* Beyaz */
}

.register-form {
    text-align: center;
}

.register-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333; /* Koyu gri tonu */
}

.register-form label {
    display: block;
    margin: 10px 0 5px;
    color: #555555; /* Gri tonu */
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC; /* Açık gri tonu */
    border-radius: 5px;
}

.register-form button {
    background-color: #4CAF50; /* Yeşil tonu */
    color: #FFFFFF; /* Beyaz */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #45A049; /* Koyu yeşil tonu */
}

.register-form p {
    margin-top: 15px;
    font-size: 14px;
    color: #555555; /* Gri tonu */
}

@keyframes rotateShapes {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes floatShape {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.logo{
  position:absolute;
  left:50px;
  top:50px;
  font-family:"Kode Mono";
  font-size:50px;
  z-index:5;
}
.logo::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Şeridi metnin altına yerleştirmek için bir miktar negatif değer kullanabilirsiniz */
  left: 0;
  width: 100%;
  height: 10px; /* Şerit yüksekliği */
  background-color: #f5424e; /* Şerit rengi */
  z-index: -1; /* Şeridi metnin altına yerleştirmek için z-index kullanabilirsiniz */
}